:root {
  /* common colors*/
  --primary-dark: rgb(44, 44, 44);
  --primary-light: white;
  --secondary-dark: rgb(62, 62, 62);
  --secondary-light: rgb(188, 188, 188);

  /* Colors */
  --primary-color: #0062ff;
  --secondary-color: #1c6082;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;
  --white: #ffffff;
  --black: #000000;

  /* Typography */
  --font-family-base: "Roboto", sans-serif;
  --font-size-base: 1rem;
  --font-size-sm: 0.875rem;
  --font-size-lg: 1.25rem;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --line-height-base: 1.5;

  /* Spacing */
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 1rem;
  --spacing-4: 1.5rem;
  --spacing-5: 3rem;

  /* Border */
  --border-radius: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-sm: 0.2rem;
  --border-width: 1px;
  --border-color: #011326;

  /* Box Shadow */
  --box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);

  /* Breakpoints */

  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-xl: 1024px;

  /* Z-index */
  --z-index-dropdown: 1000;
  --z-index-sticky: 1020;
  --z-index-fixed: 1030;
  --z-index-modal: 1040;
  --z-index-popover: 1050;
  --z-index-tooltip: 1060;

  /* Transitions */
  --transition-base: all 0.2s ease-in-out;
  --transition-fade: opacity 0.15s linear;
}
